# Build outputs
/Backend/out
/Backend/bin
/Backend/obj
/Frontend/build
/Frontend/dist

# Pastas de build
bin/
obj/
out/

# Configurações de IDE
.vscode/
.vs/
*.user
*.suo
*.sln.docstates

# Arquivos de log e temporários
*.log
[Tt]emp/
