
//Cores 
$primaria: #2563EB;
$secundaria: #60a5fa;
$neutra: #1e1e1e;
$cinza-claro: #F3F4F6;
$cinza-medio: #9ca3af;

//Ajustes globais
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
}

li {
    text-decoration: none;
}

